# dependencies
node_modules

# next.js
.next/
out/

# production
build/
docs/dist

# misc
.DS_Store
*.pem
.tldr/*
docs/plans/
.prompts/

# debug
*.log

# vercel
.vercel
.eslintcache

# local env files
.env
.env*.local

# IDE
.idea/
*.swp
*.swo
