.page {
  text-transform: uppercase;
  font-family: var(--font-ibm-plex-mono);
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: mobile-vw(8px);
  padding: mobile-vw(8px);

  @include desktop {
    row-gap: desktop-vw(8px);
    padding: desktop-vw(8px);
  }
}

.item {
  &.active {
    button {
      text-decoration: underline;
    }
  }
}
