.example {
  position: fixed;
  height: 100%;
  width: 100%;
  .wrapper {
    position: absolute;
    inset: 0;
    width: fit-content;
    height: fit-content;
    will-change: transform;
    user-select: none;
    cursor: grab;
    touch-action: none;

    .item {
      color: var(--theme-primary);
      background-color: var(--theme-secondary);
      padding: mobile-vw(12px);
      border-radius: mobile-vw(8px);

      @include desktop {
        padding: desktop-vw(12px);
        border-radius: desktop-vw(8px);
      }

      &.grabbed {
        color: var(--theme-secondary);
        background-color: var(--white);
      }
    }
  }
}
