.page {
  text-transform: uppercase;
  font-family: var(--font-mono);
}

.list {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: calc(8 / 375 * 100vw);
  padding: calc(8 / 375 * 100vw);
}

@media (min-width: 800px) {
  .list {
    row-gap: calc(8 / 1440 * 100vw);
    padding: calc(8 / 1440 * 100vw);
  }
}

.item.active button {
  text-decoration: underline;
}
